

/*Mobil first*/
*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html {
    width: 100vw;
    height: 100vh;
}

body {
    background: black url(../imagens/back-phone.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
}

main {
    background: rgba(250, 248, 248, 0.733);
    width: 90vw;
    margin: auto;
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
}

h1{
    text-align: center;
    color: white;
}

img {
    display: block;
    margin: auto;
}

img#phone, img#tablet, img#print, img#pc, img#tv {
    display: none;
}